<!DOCTYPE html>
<html>
  <head>
    <title>item</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>item</h1>
    <p>itemId : <%= item.itemId %></p>
    <p>itemImage : <%= item.itemImage %></p>
    <p>itemSupplier : <%= item.itemSupplier %></p>
    <p>itemSolidQuantity : <%= item.itemSolidQuantity %></p>
    <p>itemSalePrice : <%= item.itemSalePrice %></p>
    <p>itemTags : <%= item.itemTags %></p>
  </body>
</html>
