<!DOCTYPE html>
<html>
  <head>
    <title>post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>post</h1>
    <p>postId : <%= post.postId %></p>
    <p>item/post itemId : <%= item.itemId %></p>
    <p>item itemImage : <%= item.itemImage %></p>
    <p>item itemSupplier : <%= item.itemSupplier %></p>
    <p>item itemSoldQuantity : <%= item.itemSoldQuantity %></p>
    <p>item itemSalePrice : <%= item.itemSalePrice %></p>
    <p>item itemTags : <%= item.itemTags %></p>
    <p>postUserId  : <%= post.postUserId %></p>
    <p>postUserImage  : <%= post.postUserImage %></p>
    <p>postDateTime : <%= post.postDatetime %></p>
    <p>postItemScore : <%= post.postItemScore %></p>
    <p>postItemState : <%= post.postItemState %></p>
    <p>postLikeUsers : <%= post.postLikeUsers %></p>
  </body>
</html>
